= render 'shared/breadcrumb', links: [{'<%= plural_table_name.titleize %>' => <%= index_helper %>_path}, {'New <%= singular_table_name.titleize %>' => :active}]

%legend New <%= singular_table_name.titleize %>
= render 'form'